<!DOCTYPE html>
<head>
<title>{{title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/files/custom.css">
<link rel="stylesheet" href="/files/style.css">
{{!-- <link rel="stylesheet" href="/files/ss-style.css"> --}}

</head>
<body class="container">
<header class="row container">
  <div class="logo-column" style="border: none; text-align: left; margin-top: 20px;">
  {{#if isLoggedOut}}
  <a href="/"><img src="/files/procruiter.png" alt="Procruiter Logo" /></a>
  {{else}}
  <a href="/{{{accountType}}}/id/{{{userID}}}/name/{{{name}}}"><img src="/files/procruiter.png" alt="Procruiter Logo" /></a>
  {{/if}}
  </div>
  <div class="buttons-column" style="border: none;">
    <div class="row">
      {{{topname}}}
      <div class="col">{{{buttons}}}</div>
    </div>
  </div>
  </header>
  {{#if isLoggedOut}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 30px; padding:0;">
    <ul class="navbar-nav">  
     <li class="navbar-item"><a href="/" class="nav-link">Home</a></li>
     <li class="navbar-item"><a href="mailto:procruiterorg@gmail.com" class="nav-link">Contact Us</a></li>
    </ul>  
  </nav>
  {{else}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 30px; padding:0;">
    <ul class="navbar-nav">  
     <li class="navbar-item"><a href="/{{{accountType}}}/id/{{{userID}}}/name/{{{name}}}" class="nav-link">Your Dashboard</a></li>
     <li class="navbar-item"><a href="/profile/id/{{{userID}}}" class="nav-link">View Profile</a></li>
     <li class="navbar-item"><a href="mailto:procruiterorg@gmail.com" class="nav-link">Contact Us</a></li>
    </ul>  
  </nav>
  {{/if}}

{{{body}}}

<div class="footer">
  <p>Copyright &copy; 2019 &middot; Procruiter &middot; All Rights Reserved</p>
  <p style="margin-top: 30px;">Built with &#x2764 in India</p>
</div>

	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/files/scripts.js"></script>
</body>
</html>