<div class="container">
    <div class="row">
        <p class="display-4 col" style="font-size: 2vmax; text-align: center; margin-top: 30px; border: none;">Viewing Details for Job ID: <span id="job-id-apply">{{ID}}</span></p>
    </div>
<form id="main-form" onsubmit="return false">
    <div class="row jobupdate">
    <div class="form-group col">
        <label for="companyName">Company:</label>
        <input id="companyName" class="form-control" type="text" name="companyName" placeholder="Company" value="{{data.companyName}}" disabled>
    </div>
    <div class="form-group col">
        <label for="jobTitle">Role:</label>
        <input id="jobTitle" class="form-control" type="text" name="jobTitle" placeholder="Role" value="{{data.jobTitle}}" disabled>
    </div>
    <div class="form-group col">
        <label for="joblocation">Location:</label>
        <input id="joblocation" class="form-control" type="text" name="joblocation" placeholder="Location" value="{{data.joblocation}}" disabled>
    </div>
    <div class="form-group col">
        <label for="salary">Salary:</label>
        <input id="salary" class="form-control" type="text" name="salary" placeholder="Salary" value="{{data.salary}}" disabled>
    </div>
    </div>
    <div class="row jobupdate">
      <div class="form-group col">
        <label for="jobDescription">Job Description:</label>
        <textarea id="jobDescription" class="form-control" type="text" name="jobDescription" placeholder="Job Description" disabled>{{data.jobDescription}}</textarea>
    </div>
    </div>
    <p class="display-4 col" style="font-size: 2vmax; text-align: center; margin-top: 30px; border: none;">Your Details:</p>
    {{{applysuccess}}}
    {{{applyfailure}}}
    <div class="row userdetails">
    <div class="form-group col">
        <label for="fNameApply">First Name:</label>
        <input id="fNameApply" class="form-control" type="text" name="fNameApply" placeholder="First Name" value="{{userData.firstName}}" required>
    </div>
    <div class="form-group col">
        <label for="lNameApply">Last Name:</label>
        <input id="lNameApply" class="form-control" type="text" name="lNameApply" placeholder="Last Name" value="{{userData.lastName}}" required>
    </div>
    <div class="form-group col">
        <label for="emailApply">Email:</label>
        <input id="emailApply" class="form-control" type="text" name="emailApply" placeholder="Email" value="{{userData.email}}" required>
    </div>
    <div class="form-group col">
        <label for="phNumApply">Phone:</label>
        <input id="phNumApply" class="form-control" type="text" name="phNumApply" placeholder="Phone" value="{{userData.phoneNumber}}" required>
    </div>
    <input id="userID" type="hidden" name="applicantID" value="{{userID}}">
    <p class="display-4" style="font-size: 15px; margin-top: 30px; border: none;"><strong>Note:</strong> Any changes to your details above will be applicable <strong>only to this job application</strong>. Please <a target="_blank" href="/profile/id/{{userID}}">update your profile</a> if you'd like to make changes that reflect on all future job applications.</p>
    <p class="display-4" style="font-size: 15px; margin-top: 10px; border: none;">New users have to upload their resume from their <a target="_blank" href="/profile/id/{{userID}}">profile</a> before they can apply for jobs.</p>
    </div>
    <button style="margin-top: 30px;" class='btn btn-success' onclick='jobApply()'>Apply Now!</button>
    </form>
</div>